{% extends "base.html" %}

{% block title %}个人打卡记录{% endblock %}

{% block css %}{% endblock %}

{% block content%}
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>打卡日期</th>
            <th>上班时间</th>
            <th>下班时间</th>
            <th>出勤时间</th>
        </tr>
        </thead>
        <tbody>
        {% for record in records %}
        <tr>
            <td>{{ record.id }}</td>
            <td>{{ record.date }}</td>
            <td>{{ record.come_time }}</td>
            <td>{{ record.leave_time }}</td>
            <td>{{ record.collect_time }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--<button class="btn btn-primary btn-block">添加新员工</button>-->
{% endblock %}

{% block js %}{% endblock %}
